Dataset Description:
    
    bank.csv

In [6]:
import pandas as pd 
import numpy as np

In [14]:
bank_df = pd.read_csv('./datasets/bank-dataset/bank.csv', sep=';')

In [15]:
bank_df.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [12]:
bank_df.describe()

       age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
count                                                4521
unique                                               4521
top     30;"unemployed";"married";"primary";"no";1787;...
freq                                                    1

In [13]:
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 1 columns):
 #   Column                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                --------------  -----
 0   age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"  4521 non-null   object
dtypes: object(1)
memory usage: 35.4+ KB

## Questions to Solve

In [2]:
# 1. How man campaign in this dataset ?

In [3]:
# 2. how many users do we have with personal and housing loan ?

In [4]:
# 3. how many person with age > 60 ?.

In [5]:
# 4. Which month we targeted most of the customer ?

In [18]:
# 5. Which mode of call gives more result ?

In [19]:
# 6. how many entreprenuers we have in the list ?

In [20]:
# 7. how many customers do we have with negative balance ?

In [21]:
# 8. prepare a group of data based on education level.

In [ ]:
# 9.