In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.pandas.set_option('display.max_columns', None)

## Load dataset

In [31]:
df = sns.load_dataset('iris')

In [32]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [33]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

## Assign labels to species values.

In [34]:
def assignLabels(label):
    if label == 'setosa':
        return 0
    elif label == 'versicolor':
        return 1
    elif label == 'virginica':
        return 2
    else:
        return -1

In [35]:
df['species'] = df['species'].apply(assignLabels)

In [36]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

## Divide dataset into independent and dependent features

In [37]:
y = df.iloc[:, :-1] # independent features
X = df.iloc[:, -1]  # dependent feature

In [38]:
X.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [39]:
y.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

## write sklearn logistic regression