## SQLite Notes

### Import sqlite package

In [1]:
import sqlite3

### Connect to DB

In [3]:
# connect and create a database      
db = sqlite3.connect('ineuron.db')

# we created a database file ineuron.db

In [6]:
ls -lh

total 4.0K
-rw-r--r-- 1 fact12 fact12    0 Feb 20 10:30 ineuron.db
-rw-rw-r-- 1 fact12 fact12 1.2K Feb 20 10:31 SQLite_For_Python_1.ipynb

### Create Cursor

Object Responsible for executing every queries in sqlite.

In [7]:
cursor = db.cursor()
cursor

### Execute Query

In [8]:
query = 'create table fsds_batch (name text, batch_id int, marks real)'
cursor.execute(query)

### Insert Data

In [9]:
query = 'insert into fsds_batch (name, batch_id, marks) values("jissmon", 444, 60)';
cursor.execute(query)

In [10]:
query = 'insert into fsds_batch values("adharsh", 444, 30), ("sudhanshu", 444, 80)';
cursor.execute(query)

### Read/View Data

In [12]:
data = cursor.execute("select * from fsds_batch");

In [13]:
for dt in data:
    print(dt)

('jissmon', 444, 60.0)
('adharsh', 444, 30.0)
('sudhanshu', 444, 80.0)

### Commit Data for permanent storage

In [14]:
db.commit()

### Close connection to DB

In [15]:
db.close()

### Connect to DB Again

In [19]:
db = sqlite3.connect('ineuron.db')

### Fetch Records using WHERE clause

In [20]:
cursor.execute('select * from where marks > 50');

ProgrammingError: Cannot operate on a closed database.

We have to create a cursor object again to execute query

In [21]:
cursor = db.cursor()

In [29]:
data = cursor.execute("select * from fsds_batch where marks > 50");

In [30]:
for i in data:
    print(i)

('jissmon', 444, 60.0)
('sudhanshu', 444, 80.0)

In [31]:
data  = cursor.execute("select * from fsds_batch where name='jissmon'");
for n in data:
    print(n)

('jissmon', 444, 60.0)

### Using ORDER BY CLAUSE

In [33]:
data = cursor.execute("select * from fsds_batch order by marks");
for d in data:
    print(d)

('adharsh', 444, 30.0)
('jissmon', 444, 60.0)
('sudhanshu', 444, 80.0)

### Close Connection

In [34]:
db.close()

### Create New Database Person

In [35]:
personDB = sqlite3.connect('person.db')

### Create cursor Object

In [36]:
cursor = personDB.cursor()
cursor

### Create person table

In [37]:
cursor.execute("create table person (name text, age integer, height real, weight integer, skin_color text)")

### Insert Data

In [38]:
query = """

insert into person values 
    ('john', 55, 145.66, 60, 'white'),
    ('david', 33, 175.66, 70, 'gray')
"""

cursor.execute(query)

### Fetch Records

In [39]:
data = cursor.execute("select * from person")

In [40]:
for i in data:
    print(i)

('john', 55, 145.66, 60, 'white')
('david', 33, 175.66, 70, 'gray')

### Commit Changes

In [41]:
personDB.commit()

### Close connection

In [42]:
personDB.close()

### Drop Table

Drop fsds_batch table in ineuron db.

In [44]:
db = sqlite3.connect('ineuron.db')

In [46]:
cursor = db.cursor()

In [49]:
cursor.execute("drop table fsds_batch");

### Check table exist or not

In [51]:
cursor.execute("select * from fsds_batch");

OperationalError: no such table: fsds_batch

### Close the connection

In [52]:
db.close()

### Connect to person database

In [53]:
personDB = sqlite3.connect('person.db')
personDB

In [54]:
cursor = personDB.cursor()
cursor

### Using limit Operator

In [55]:
data = cursor.execute("select * from person limit 1");
for i in data:
    print(i)

('john', 55, 145.66, 60, 'white')

## Join Operation

### Create table Advisor

In [58]:
query = '''

create table Advisor (AdvisorID integer primary key, AdvisorName text)
'''

In [59]:
cursor.execute(query)

### Create table Student

In [63]:
query = '''

create table Student (StudentID integer primary key, 
                        StudentName text, 
                        AdvisorID integer foreign_key references Advisor(AdvisorID)
                        )
'''

In [64]:
cursor.execute(query)

### Insert Data to both table

### JOIN operation Example 2

In [65]:
# create table student

In [66]:
cursor.execute('create table student_tbl (student_id integer primary key, student_name text, student_mail text, marks integer)')

In [68]:
# create table address

In [67]:
cursor.execute(
"""
create table address(student_id integer foreign_key references student_tbl(student_id),
                    pincode integer, location text, nearby text, phone integer
)
"""
)

In [69]:
# insert records to both tables

In [71]:
query = """
insert into student_tbl values
    (10, 'arun', 'arun@gmail.com', 90),
    (11, 'abin', 'abin@gmail.com', 70),
    (12, 'arjun', 'arjun@gmail.com', 80),
    (13, 'asin', 'asin@gmail.com', 40),
    (14, 'akin', 'akin@gmail.com', 50),
"""

In [73]:
query = """
insert into student_tbl values
    (10, 'arun', 'arun@gmail.com', 90)
"""

In [74]:
cursor.execute(query)

In [77]:
query = """
insert into student_tbl values
    (11, 'abin', 'abin@gmail.com', 70)
"""

In [78]:
cursor.execute(query)

In [81]:
query = """
insert into student_tbl values
    (12, 'arjun', 'arjun@gmail.com', 80)
"""

In [82]:
cursor.execute(query)

In [84]:
data = cursor.execute("select * from student_tbl limit 3")
for i in data:
    print(data)

<sqlite3.Cursor object at 0x7f66ea362ea0>
<sqlite3.Cursor object at 0x7f66ea362ea0>
<sqlite3.Cursor object at 0x7f66ea362ea0>

In [94]:
query = """
insert into address values (10, 43242, 'a', 'b', 4374923)
"""

In [95]:
# student_id integer foreign_key references student_tbl(student_id),
#                     pincode integer, location text, nearby text, phone integer
# )

In [96]:
cursor.execute(query)

In [97]:
query = """
insert into address values (10, 43242, 'c', 'd', 3984729)
"""
cursor.execute(query)

In [98]:
query = """
insert into address values (12, 53479, 'e', 'f', 3947129821)
"""
cursor.execute(query)

In [99]:
query = """
insert into address values (12, 374934, 't', 'h', 90213971239)
"""
cursor.execute(query)

### using left join

Gives all records from the left table, and only the common records from the right table.

In [105]:
query = """
    select student_tbl.student_id, student_name, pincode, location from 
    student_tbl left join address
    on student_tbl.student_id = address.student_id
"""
data = cursor.execute(query)
for i in data:
    print(i)

(10, 'arun', 43242, 'a')
(10, 'arun', 43242, 'c')
(11, 'abin', None, None)
(12, 'arjun', 53479, 'e')
(12, 'arjun', 374934, 't')

### Using Inner Join

Inner join also represented as join which gives the records that have common attributes in both tables.

In [106]:
query = """
    select student_tbl.student_id, student_name, pincode, location from 
    student_tbl inner join address
    on student_tbl.student_id = address.student_id
"""
data = cursor.execute(query)
for i in data:
    print(i)

(10, 'arun', 43242, 'a')
(10, 'arun', 43242, 'c')
(12, 'arjun', 53479, 'e')
(12, 'arjun', 374934, 't')

### using right join

In [108]:
query = """
    select student_tbl.student_id, student_name, pincode, location from 
    student_tbl right join address
    using(student_id)
"""
data = cursor.execute(query)
for i in data:
    print(i)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

### using cross join

It combines all records of one table with all other records of another table, that is, it creates a Cartesian product of records from the join tables.

In [109]:
query = """
    select student_tbl.student_id, student_name, pincode, location from 
    student_tbl cross join address
    on student_tbl.student_id = address.student_id
"""
data = cursor.execute(query)
for i in data:
    print(i)

(10, 'arun', 43242, 'a')
(10, 'arun', 43242, 'c')
(12, 'arjun', 53479, 'e')
(12, 'arjun', 374934, 't')

## Delete Records

In [110]:
cursor.execute('delete from student_tbl where student_id>13');

In [111]:
for i in cursor.execute('select * from student_tbl'):
    print(i)

(10, 'arun', 'arun@gmail.com', 90)
(11, 'abin', 'abin@gmail.com', 70)
(12, 'arjun', 'arjun@gmail.com', 80)

## fetch all

In [113]:
data = cursor.execute('select * from student_tbl')
data.fetchall()

[(10, 'arun', 'arun@gmail.com', 90),
 (11, 'abin', 'abin@gmail.com', 70),
 (12, 'arjun', 'arjun@gmail.com', 80)]

## Update Operation

In [114]:
# update student id from 11 to 15

In [115]:
query = """

update student_tbl set student_id = 15 where student_id=11
"""
cursor.execute(query)

In [117]:
data = cursor.execute('select * from student_tbl')
data.fetchall()

[(10, 'arun', 'arun@gmail.com', 90),
 (12, 'arjun', 'arjun@gmail.com', 80),
 (15, 'abin', 'abin@gmail.com', 70)]

In [123]:
query = """
insert into student_tbl(student_id, student_name, student_mail, marks) values
    (16, 'arun', 'arun@gmail.com', 90),
    (17, 'abin', 'abin@gmail.com', 30),
    (19, 'aseera', 'arjun@gmail.com', 80),
    (23, 'dona', 'asin@gmail.com', 100),
    (32, 'akin', 'akin@gmail.com', 25),
"""
cursor.execute(query)

OperationalError: incomplete input