# XGBoost Demonstration

## Import Libraies

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## import various models to do the comparison

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

## Data preparation

In [3]:
df = pd.read_csv('dataset/diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

**Inference**

- All the features except Outcome are independent variables.
- Outcome is the dependent/target variable.
- Outcome column represents whether a patient has diabetes or not.
- 1 means diabetic, 0 means non-diabetic.

<b>Split the data into independent and dependent features<b>

In [17]:
X = df.iloc[:,0:8] # independent variables
y = df.iloc[:,8] # dependent variable

In [18]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [19]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

<b>Split data into train and test set<b>

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [21]:
X_train.shape

(614, 8)

In [22]:
y_train.shape

(614,)

## Runing Various Models

### Logistic Regression

time: 4:00

https://www.youtube.com/watch?v=C1ahSmQalZY